*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

body {
  overflow-x: hidden;
}

.main-container {
  width: 95%;
  margin: auto;
  height: 100%;
  max-width: 1200px;
}

.container {
  display: flex;
  margin-bottom: 56px;
}